<div class="container" *ngIf="department">
  <div class="row">
    <div class="col-md-8">
      <h3>Department: {{department.name}}</h3>
      <ul class="list-group">
        <li class="list-group-item"><b>Kod:</b> {{department.code}}</li>
        <app-employee-item
          *ngIf="department.head"
          [employee]="department.head"
          [showRole]="true"></app-employee-item>
        <div *ngIf="!department.head">
          <h3>Add department head</h3>
          <app-employee-edit
            [addType]="addTypeHead"
            [unitId]="department.id"></app-employee-edit>
        </div>
      </ul>
      <br />
      <button class="btn btn-primary" (click)="startNewEmployee()">New employee</button>
      <br/>
      <app-employee-edit
        *ngIf="editing"
        [unitId]="department.id"
        [addType]="addTypeDepEmployee"></app-employee-edit>
    </div>
    <div class="col-md-4">
      <h4>Department Employees</h4>
      <div *ngIf="department.departmentEmployees.length > 0">
        <app-employee-item
          *ngFor="let employee of department.departmentEmployees; let i = index"
          [employee]="employee"></app-employee-item>
      </div>
    </div>

  </div>
</div>

