<div class="container" *ngIf="project">
  <div class="row">
    <div class="col-md-8">
      <h3>Project: {{project.name}}</h3>
      <ul class="list-group">
        <li class="list-group-item"><b>Kod:</b> {{project.code}}</li>
        <app-employee-item
          *ngIf="project.head"
          [employee]="project.head"
          [showRole]="true"></app-employee-item>
        <div *ngIf="!project.head">
          <h3>Add project head</h3>
          <app-employee-edit
            [addType]="addType"
            [unitId]="project.id"></app-employee-edit>
        </div>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Departments</h4>
      <div *ngIf="project.departments.length > 0">
        <app-organization-unit-item
          *ngFor="let department of project.departments; let i = index"
          [unit]="department"
          [unitType]="'departments'"></app-organization-unit-item>
      </div>
    </div>

  </div>
</div>
