<div class="container" *ngIf="division">
  <div class="row">
    <div class="col-md-8">
      <h3>Division: {{division.name}}</h3>
      <ul class="list-group">
        <li class="list-group-item"><b>Kod:</b> {{division.code}}</li>
        <app-employee-item
          *ngIf="division.head"
          [employee]="division.head"
          [showRole]="true"></app-employee-item>
        <div *ngIf="!division.head">
          <h3>Add head of division</h3>
          <app-employee-edit
            [unitId]="division.id"
            [addType]="addType"></app-employee-edit>
        </div>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Projects</h4>
      <div *ngIf="division.projects.length > 0">
        <app-organization-unit-item
          *ngFor="let project of division.projects; let i = index"
          [unit]="project"
          [unitType]="'projects'"></app-organization-unit-item>
      </div>
    </div>

  </div>
</div>
