<div class="container" *ngIf="employee">
  <div class="row">
    <div class="col-md-12">
      <h3>{{employee.degree}} {{employee.firstName}} {{employee.lastName}}</h3>
      <ul class="list-group">
        <li class="list-group-item"><b>Phone ext.:</b> {{employee.phoneExt}}</li>
        <li class="list-group-item"><b>Email ext.:</b> {{employee.email}}</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class ="btn btn-default" (click)="onStartEditing()">Edit</button>
        <button class="btn btn-danger" (click)="removeEmployee()">Remove</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-employee-edit *ngIf="editing" [editedEmployee]="employee"></app-employee-edit>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="employee.role.name == employeesService.CEO">
          <h4>Head of company:</h4>
          <app-organization-unit-item
            [unitType]="'companies'"
            [unit]="(employee | castOrganizationHead).headOf"></app-organization-unit-item>
        </div>
        <div *ngIf="employee.role.name == employeesService.DIVISION_HEAD">
          <h4>Head of division:</h4>
          <app-organization-unit-item
            [unitType]="'divisions'"
            [unit]="(employee | castOrganizationHead).headOf"></app-organization-unit-item>
        </div>
        <div *ngIf="employee.role.name == employeesService.PROJECT_HEAD">
          <h4>Head of project:</h4>
          <app-organization-unit-item
            [unitType]="'projects'"
            [unit]="(employee | castOrganizationHead).headOf"></app-organization-unit-item>
        </div>
        <div *ngIf="employee.role.name == employeesService.DEPARTMENT_HEAD">
          <h4>Head of department:</h4>
          <app-organization-unit-item
            [unitType]="'departments'"
            [unit]="(employee | castOrganizationHead).headOf"></app-organization-unit-item>
        </div>
        <div *ngIf="(employee | castDepartmentEmployee).departments">
          <h3>Departments</h3>
          <div class="row"
                *ngFor="let department of (employee | castDepartmentEmployee).departments">
              <div class="col-md-3">
                <h4>Department</h4>
                <app-organization-unit-item
                  [unitType]="'departments'"
                  [unit]="department"></app-organization-unit-item>
              </div>
            <div class="col-md-3">
              <h4>Project</h4>
              <app-organization-unit-item
                [unitType]="'projects'"
                [unit]="department.project"></app-organization-unit-item>
            </div>
            <div class="col-md-3">
              <h4>Division</h4>
              <app-organization-unit-item
                [unitType]="'divisions'"
                [unit]="department.project.division"></app-organization-unit-item>
            </div>
            <div class="col-md-3">
              <h4>Company</h4>
              <app-organization-unit-item
                [unitType]="'companies'"
                [unit]="department.project.division.company"></app-organization-unit-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
