<div class="list-group-item clearfix">
    <a
      style="cursor: pointer;"
      [routerLink]="['/employees/' + employee.employeeID]"
      routerLinkActive="active">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{showRole ? (employee.role.name +": ") : '' }} {{ employee.degree }} {{employee.firstName}} {{employee.lastName}}</h4>
      </div>
    </a>
    <div class="pull-right">
      <button class="btn btn-danger" (click)="deleteEmployee()">Delete</button>
    </div>
</div>
