<div class="row">
  <div class="col-xs-12">
    <app-organization-unit-item
      *ngFor="let company of companies"
      [unit]="company"
      [unitType]="'companies'"></app-organization-unit-item>
  </div>
</div>

