<div class="container" *ngIf="company">
  <div class="row">
    <div class="col-md-8">
      <!--company detail-->
      <h3>Company: {{company.name}}</h3>
      <ul class="list-group">
        <li class="list-group-item"><b>Kod:</b> {{company.code}}</li>
        <app-employee-item
          *ngIf="company.head"
          [employee]="company.head"
          [showRole]="true"></app-employee-item>
        <div *ngIf="!company.head">
          <h3>Add company head</h3>
        <app-employee-edit
          [unitId]="company.id"
          [addType]="addType"></app-employee-edit>
        </div>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Divisions</h4>
      <!--division list-->
      <div *ngIf="company.divisions.length > 0">
          <app-organization-unit-item
            *ngFor="let division of company.divisions"
            [unit]="division"
            [unitType]="'divisions'"></app-organization-unit-item>
      </div>
    </div>

  </div>
</div>
