<a
  style="cursor: pointer;"
  [routerLink]="[getRouterLink()]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ unit.name }} (kód {{unit.code}})</h4>
  </div>
</a>
