<div class="navbar navbar-default">
  <div class="container-fluid">
    <!--div class="collapse navbar-collapse"-->
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" class="nav-item"><a routerLink="/companies" >My companies</a></li>
          <li *ngIf="currentCompany" routerLinkActive="active" class="nav-item"><a [routerLink]="['/companies/' + currentCompany.id]" >Company: {{currentCompany.name}}</a></li>
          <li *ngIf="currentDivision" routerLinkActive="active" class="nav-item"><a [routerLink]="['/divisions/' + currentDivision.id]" >Division: {{currentDivision.name}}</a></li>
          <li *ngIf="currentProject" routerLinkActive="active" class="nav-item"><a [routerLink]="['/projects/' + currentProject.id]" >Project: {{currentProject.name}}</a></li>
          <li *ngIf="currentDepartment" routerLinkActive="active" class="nav-item"><a [routerLink]="['/departments/' + currentDepartment.id]" >Department: {{currentDepartment.name}}</a></li>
        </ul>
  </div>
</div>
