<div class="row">
  <div class="col-md-12">
    <span *ngIf="errorMsg" class="label-danger">{{errorMsg}}</span>
    <form (ngSubmit)="onSubmit()" [formGroup]="empForm">
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="degree">Degree</label>
          <input
            type="text"
            id="degree"
            formControlName="degree"
            class="form-control"
            />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            id="firstName"
            class="form-control"
            formControlName="firstName" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            id="lastName"
            class="form-control"
            formControlName="lastName"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
            <label for="phoneExt">Phone extension</label>
            <input
              type="text"
              id="phoneExt"
              class="form-control"
              formControlName="phoneExt"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"/>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <button
              class="btn btn-danger"
              type="button"
              (click)="cancelEditing()">Cancel</button>
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!empForm.valid">{{editedEmployee ? 'Update': 'Add'}}</button>
          </div>
        </div>
    </form>
  </div>
</div>
